@using FlightDeals.Features.FlightSearch
@model FlightSearchViewModel
@{
    ViewData["Title"] = "Search for flights";
}

<div class="text-center">
    <h1 class="display-4">Search for flights</h1>
</div>


@*@{

        var name = "collapseExample";
        <div class="text-center">
            <h1 class="display-4">Search for flights</h1>
        </div>
        <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Link with href
        </a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="@("#" + @name)" aria-expanded="false" aria-controls="collapseExample">
            Button with data-target
        </button>
        <div class="collapse" id="@name">
            <div class="well">
                dgsfgsdfgfdsdfgdfgsdfgfdgdfg
                <p>sdfasdfasdfa<br /></p>
            </div>
        </div>


    }*@




<section>



    <form method="post" class="offset-1 col-md-10">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="input-group">
            @*<div class="input-group  col-md-5 >*@
                <div class=" input-group col-md-6 col-sm-6">
                    <label asp-for="OriginLocationCode" class="col-md-2 col-sm-12">From</label>
                    <input asp-for="OriginLocationCode" type="text" class="form-control col-md-10 col-sm-12" placeholder="Country/City/Airport" />
                </div>
            @*</div>*@
            @*<div class="input-group  col-md-5">*@
                <div class="input-group col-md-6  col-sm-6">
                    <label asp-for="DestinationLocationCode" class="col-md-2 col-sm-12">To</label>
                    <input asp-for="DestinationLocationCode" type="text" class="form-control col-md-10 col-sm-12" placeholder="Country/City/Airport" />
                </div>
            @*</div>*@
        </div>

        <section class="form-group">
            <input asp-for="DepartureDate" type="text" readonly="readonly" class="form-control" placeholder="DepartureDate" id="datepicker" />


        </section>
        <div class="form-group">
            <label asp-for="Adults">Adults</label>
            <input asp-for="Adults" type="number" class="form-control" placeholder="Adults" value="1" />
        </div>
        <div class="form-group">
            <label asp-for="ReturnDate">ReturnDate</label>
            <input asp-for="ReturnDate" type="text" class="form-control" placeholder="ReturnDate" />

        </div>
        <div class="form-group">
            <label asp-for="Children">Children</label>
            <input asp-for="Children" type="number" class="form-control" placeholder="Children" />

        </div>
        <div class="form-group">
            <label asp-for="TravelClass">TravelClass</label>
            <input asp-for="TravelClass" type="text" class="form-control" placeholder="TravelClass" />

        </div>
        <div class="form-group">
            <label asp-for="IncludedAirlineCodes">IncludedAirlineCodes</label>
            <input asp-for="IncludedAirlineCodes" type="text" class="form-control" placeholder="IncludedAirlineCodes" />

        </div>
        <div class="form-group">
            <label asp-for="ExcludedAirlineCodes">ExcludedAirlineCodes</label>
            <input asp-for="ExcludedAirlineCodes" type="text" class="form-control" placeholder="ExcludedAirlineCodes" />

        </div>
        <div class="form-group">
            <label asp-for="NonStop">NonStop</label>
            <input asp-for="NonStop" type="checkbox" class="form-control" placeholder="NonStop" />

        </div>
        <div class="form-group">
            <label asp-for="CurrencyCode">CurrencyCode</label>
            <input asp-for="CurrencyCode" type="text" class="form-control" placeholder="CurrencyCode" />
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</section>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery-ui.js" language="javascript" type="text/javascript"></script>


    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" language="javascript" type="text/javascript"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" language="javascript" type="text/javascript"></script>

    <script>
        $(function () {
            $("#datepicker").datepicker({ dateFormat: 'yy-mm-dd' });
        });
    </script>

    <script>
        $('.hidden').removeClass('hidden').hide();
        $('.toggle-text').click(function () {
            $(this).find('p').each(function () { $(this).toggle(); });
        });
    </script>

}